// Colors
$darkblue: #080E2F;
$skillsteal: #146166;
$darkred: darkred;
$darkgreen: darkgreen;
$darkgrey: darkgrey;


* {
    margin: 0;
    .container {
        margin: 0;
        .the_nav {
            display: flex;
            // justify-content: space-between;
            background-color: $darkblue;
            height: 12vh;
            position: sticky;
            top: 0;
            transition: .5s ease-in-out;
            width: 100%;
            .nav_contents {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10vw;
                padding: 0 0 0 5vw;
                margin: 0 0 0 2vw;
                #coudevs_logo {
                    width: 20vw;
                    height: 20vw;
                }
                .you {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    #name {
                        color: white;
                        font-size: 4vw;
                    }
                    #job_description {
                        color: rgb(115, 97, 149);
                        font-size: 3vw;
                    }
                }
                #menu {
                    width: 10vw;
                    height: 10vw;
                }
            }
        }
        .the_nav.dissapear {
            opacity: 0;
            transition: .5s ease-in-out;
        }
        .the_nav.scroll_up {
            opacity: 1;
        }
        .section_one {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            background-color: $darkblue;
            height: 100vh;
            .section_one_content {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                h1 {
                    color: $darkgrey;
                    font-size: 6vw;
                }
            }
        }
        .section_two {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $skillsteal;
            height: 100vh;
            h1 {
                color: $darkblue;
                font-size: 6vw;
            }
        }
        .section_three {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $darkblue;
            height: 100vh;
            h1 {
                color: $darkgrey;
                font-size: 6vw;
            }
        }
        .section_four {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $skillsteal;
            height: 100vh;
            h1 {
                color: $darkblue;
                font-size: 6vw;
            }
        }
    }
}