// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');
// COLORS
$mainblue: #080E2F;
$skillswhite: #FFFFFF;
$aboutgreen: #0E4946;
$skillsteal: #146166;
$iconblock: #023430;
$languagewhite: #d9e2e2;
$techcirclegreen: #05607D;
$hoverfonts: #B7BCD6;
$experiencegreen: #255C5A;
$positioncolor: #8081AA;

// BUTTON COLORS
$learnmorebutton: #EBEBEB;
$experiencegreenbutton: #476D6B;
$resumebutton: #507E81;


// DISPLAY SQAURES COLORS
$portfolios: #36395D;
$experiences: #496b69;
$experiencestwo: #476D6B;
$abouts: #627C7A;
$skillses: #7FC4C9;
$skillsdarker: #669EA3;
$skillsdarker2: #507e81;

// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);

// CIRCLE OUTLINE
$circleoutlines: rgb(221,221,221,0.52);

// FOOTER
$firstblue: #58a6ff;
$secondblue: #6287cf;
$thirdblue: rgb(85, 85, 255);
$smallsgrey: #757782;

// SOCIALS
$socialsgrey: #B7BCD6;

$lighterskills: #080e31;

// Colors
$darkblue: #080E2F;
$skillsteal: #146166;
$darkred: darkred;
$darkgreen: darkgreen;
$darkgrey: darkgrey;


* {
    margin: 0;
    .container {
        background-color: $mainblue;
        margin: 0;
        // Top NavBar that is static
        .the_top_nav{
            background-color: $darkblue;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 100;
            .nav_top_contents {
                display: flex;
                justify-content: space-between;
                #courdevs_top_logo {
                    width: 35vw;
                    height: 35vw;
                    margin: 2vh 0 0 4vw;
                }
                #top_hamburger {
                    width: 12vw;
                    height: 12vw;
                    margin: 4vh 8vw 0 0;
                }
            }
        }
        // The Bottom Floating NavBar
        .the_nav {
            display: flex;
            // position: relative;
            background-color: $darkblue;
            height: 13vh;
            position: sticky;
            z-index: 98;
            top: 0;
            transition: .7s ease-in-out;
            width: 100%;
            // opacity: 0;
            .nav_contents {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 3vw;
                padding: 0 0 0 5vw;
                margin: 0vh 2vw 0 0;
                transition: .3s ease-in-out;
                width: 100%;
                #coudevs_logo {
                    width: 23vw;
                    height: 23vw;
                }
                .you {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    // align-items: center;
                    margin: 0 10vw 0 0;
                    opacity: 1;
                    #name {
                        color: white;
                        font-size: 5vw;
                        font-family: 'Inter', sans-serif;
                    }
                    #job_description {
                        color: $positioncolor;
                        font-size: 4vw;
                        font-family: 'Roboto', sans-serif;
                    }
                }
                #menu {
                    width: 12vw;
                    height: 12vw;
                    margin: 0 7vw 0 0;
                }
                // Floating NavBar reappear when scroll up
                .you.on_scroll_up {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 0 0 -1vw;
                    opacity: 1;
                    #name {
                        color: white;
                        font-size: 5vw;
                        font-family: 'Inter', sans-serif;
                    }
                    #job_description {
                        color: $positioncolor;
                        font-size: 4vw;
                        font-family: 'Roboto', sans-serif;
                    }
                }
                // #menu {
                //     width: 12vw;
                //     height: 12vw;
                //     margin: 0 0 0 0;
                // }
            }
        }
        // the Floating Nav at top of page dissapear
        .the_nav.dissapear {
            opacity: 0;
            transition: .3s ease-in-out;
        }
        .the_nav.scroll_up {
            opacity: 1;
        }
        .section_one {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $darkblue;
            height: 90vh;
            .section_one_headshot {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: -18vh 0 0 0;
                #home_headshot {
                    width: 65vw;
                    height: 65vw;
                    border-radius: 50%; 
                    position: absolute;  
                }
                .back_circle {
                    width: 70vw;
                    height: 70vw;
                    border: 7px solid $positioncolor;
                    border-radius: 50%;
                }
            }
            .section_one_content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 5vh 0 0 0;
                // height: 100vh;
                h1 {
                    font-family: 'Inter', sans-serif;
                    color: white;
                    font-size: 7vw;
                }
                p {
                    font-family: 'Roboto', sans-serif;
                    color: $positioncolor;
                    font-size: 5vw;
                }
                .my_mantra {
                    display: flex;
                    margin: 5vh 0 0 0;
                    p {
                        color: white;
                        font-family: 'Roboto', sans-serif;
                        font-size: 4.5vw;
                        text-align: center;
                    }
                }
                .learn_more {
                    width: 50vw;
                    height: 10vw;
                    margin: 12vh 0 -15vh 0;
                    border-radius: 5px;
                    background-color: $portfolios;
                    // background-color: $positioncolor;
                    border: none;
                    a {
                        color: $languagewhite;
                        color: white;
                        // color: $darkblue;
                        text-decoration: none;
                        font-family: 'Roboto', sans-serif;
                        font-size: 4vw;
                    }
                }
            }
        }
        .section_two {
            background-color: $skillsteal;
            height: 100vh;
            .section_two_top {
                display: flex;
                .about_title {
                    font-family: 'Inter', sans-serif;
                    font-size: 10vw;
                    color: white;
                    margin: 5vh 0 0 10vw;
                }
            }
            .section_two_bottom {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 5vh 0 0 0;
                .about_content {
                    // display: flex;
                    // flex-direction: column;
                    width: 82%;
                    // text-align: center;
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    .about_page_Logo {
                        display: flex;
                        justify-content: center;
                        margin: 4vh 0 4vh 0;
                    }
                }
                // Download Resume Button
                .resume_button_div {
                    #dload_resume {
                        border: 2px solid $resumebutton;
                        border-radius: 5px;
                        background-color: $resumebutton;
                        margin: 4vh 0 0 0;
                        width: 50vw;
                        height: 10vw;
                        color: white;
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: 'Inter', sans-serif;
                    }
                }
            }
        }
        .section_three {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $darkblue;
            height: 100vh;
            h1 {
                color: $darkgrey;
                font-size: 6vw;
            }
        }
        .section_four {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $skillsteal;
            height: 100vh;
            h1 {
                color: $darkblue;
                font-size: 6vw;
            }
        }
    }
}
