// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');
// COLORS
$mainblue: #080E2F;
$skillswhite: #FFFFFF;
$aboutgreen: #0E4946;
$skillsteal: #146166;
$iconblock: #023430;
$languagewhite: #d9e2e2;
$techcirclegreen: #05607D;
$hoverfonts: #B7BCD6;
$experiencegreen: #255C5A;
$positioncolor: #8081AA;

// BUTTON COLORS
$learnmorebutton: #EBEBEB;
$experiencegreenbutton: #476D6B;
$resumebutton: #507E81;


// DISPLAY SQAURES COLORS
$portfolios: #36395D;
$experiences: #496b69;
$experiencestwo: #476D6B;
$abouts: #627C7A;
$skillses: #7FC4C9;
$skillsdarker: #669EA3;
$skillsdarker2: #507e81;

// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);

// CIRCLE OUTLINE
$circleoutlines: rgb(221,221,221,0.52);

// FOOTER
$firstblue: #58a6ff;
$secondblue: #6287cf;
$thirdblue: rgb(85, 85, 255);
$smallsgrey: #757782;

// SOCIALS
$socialsgrey: #B7BCD6;

$lighterskills: #080e31;

// Colors
$darkblue: #080E2F;
$skillsteal: #146166;
$darkred: darkred;
$darkgreen: darkgreen;
$darkgrey: darkgrey;


* {
    margin: 0;
    .container {
        margin: 0;
        .the_nav {
            display: flex;
            // justify-content: space-between;
            background-color: $darkblue;
            height: 12vh;
            position: sticky;
            top: 0;
            transition: .5s ease-in-out;
            width: 100%;
            .nav_contents {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6vw;
                padding: 0 0 0 5vw;
                margin: 0vh 0 0 0;
                #coudevs_logo {
                    width: 20vw;
                    height: 20vw;
                }
                .you {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 0 0 -1vw;
                    #name {
                        color: white;
                        font-size: 5vw;
                        font-family: 'Inter', sans-serif;
                    }
                    #job_description {
                        color: rgb(115, 97, 149);
                        font-size: 4vw;
                        font-family: 'Roboto', sans-serif;
                    }
                }
                #menu {
                    width: 10vw;
                    height: 10vw;
                    margin: 0 0 0 3vw;
                }
            }
        }
        .the_nav.dissapear {
            opacity: 0;
            transition: .5s ease-in-out;
        }
        .the_nav.scroll_up {
            opacity: 1;
        }
        .section_one {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            background-color: $darkblue;
            height: 100vh;
            .section_one_content {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                h1 {
                    color: $darkgrey;
                    font-size: 6vw;
                }
            }
        }
        .section_two {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $skillsteal;
            height: 100vh;
            h1 {
                color: $darkblue;
                font-size: 6vw;
            }
        }
        .section_three {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $darkblue;
            height: 100vh;
            h1 {
                color: $darkgrey;
                font-size: 6vw;
            }
        }
        .section_four {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $skillsteal;
            height: 100vh;
            h1 {
                color: $darkblue;
                font-size: 6vw;
            }
        }
    }
}