@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
* {
  margin: 0;
}
* .container {
  background-color: #080E2F;
  margin: 0;
}
* .container .the_top_nav {
  background-color: #080E2F;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
* .container .the_top_nav .nav_top_contents {
  display: flex;
  justify-content: space-between;
}
* .container .the_top_nav .nav_top_contents #courdevs_top_logo {
  width: 28vw;
  height: 28vw;
  margin: 2vh 0 0 4vw;
}
* .container .the_top_nav .nav_top_contents #top_hamburger {
  width: 12vw;
  height: 12vw;
  margin: 4vh 8vw 0 0;
}
* .container .the_nav {
  display: flex;
  background-color: #080E2F;
  height: 13vh;
  position: sticky;
  z-index: 98;
  top: 0;
  transition: 0.7s ease-in-out;
  width: 100%;
}
* .container .the_nav .nav_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6vw;
  padding: 0 0 0 5vw;
  margin: 0vh 2vw 0 0;
  transition: 0.3s ease-in-out;
}
* .container .the_nav .nav_contents #coudevs_logo {
  width: 23vw;
  height: 23vw;
}
* .container .the_nav .nav_contents .you {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 -3vw;
  opacity: 1;
}
* .container .the_nav .nav_contents .you #name {
  color: white;
  font-size: 5vw;
  font-family: "Inter", sans-serif;
}
* .container .the_nav .nav_contents .you #job_description {
  color: #8081AA;
  font-size: 4vw;
  font-family: "Roboto", sans-serif;
}
* .container .the_nav .nav_contents .you.on_scroll_up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 -1vw;
  opacity: 1;
}
* .container .the_nav .nav_contents .you.on_scroll_up #name {
  color: white;
  font-size: 5vw;
  font-family: "Inter", sans-serif;
}
* .container .the_nav .nav_contents .you.on_scroll_up #job_description {
  color: #8081AA;
  font-size: 4vw;
  font-family: "Roboto", sans-serif;
}
* .container .the_nav .nav_contents #menu {
  width: 12vw;
  height: 12vw;
  margin: 0 0 0 0;
}
* .container .the_nav.dissapear {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
* .container .the_nav.scroll_up {
  opacity: 1;
}
* .container .section_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #080E2F;
  height: 90vh;
}
* .container .section_one .section_one_headshot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -25vh 0 0 0;
}
* .container .section_one .section_one_headshot #home_headshot {
  width: 65vw;
  height: 65vw;
  border-radius: 50%;
  position: absolute;
}
* .container .section_one .section_one_headshot .back_circle {
  width: 70vw;
  height: 70vw;
  border: 7px solid #8081AA;
  border-radius: 50%;
}
* .container .section_one .section_one_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh 0 0 0;
}
* .container .section_one .section_one_content h1 {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 7vw;
}
* .container .section_one .section_one_content p {
  font-family: "Roboto", sans-serif;
  color: #8081AA;
  font-size: 5vw;
}
* .container .section_one .section_one_content .my_mantra {
  display: flex;
  margin: 5vh 0 0 0;
}
* .container .section_one .section_one_content .my_mantra p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 4.5vw;
  text-align: center;
}
* .container .section_one .section_one_content .learn_more {
  width: 50vw;
  height: 10vw;
  margin: 12vh 0 -15vh 0;
  border-radius: 5px;
  background-color: #36395D;
  border: none;
}
* .container .section_one .section_one_content .learn_more a {
  color: #d9e2e2;
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
}
* .container .section_two {
  background-color: #146166;
  height: 100vh;
}
* .container .section_two .section_two_top {
  display: flex;
}
* .container .section_two .section_two_top .about_title {
  font-family: "Inter", sans-serif;
  font-size: 10vw;
  color: white;
  margin: 5vh 0 0 10vw;
}
* .container .section_two .section_two_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 0 0 0;
}
* .container .section_two .section_two_bottom .about_content {
  width: 82%;
  color: white;
  font-family: "Roboto", sans-serif;
}
* .container .section_two .section_two_bottom .about_content .about_page_Logo {
  display: flex;
  justify-content: center;
  margin: 4vh 0 4vh 0;
}
* .container .section_two .section_two_bottom .resume_button_div #dload_resume {
  border: 2px solid #507E81;
  border-radius: 5px;
  background-color: #507E81;
  margin: 4vh 0 0 0;
  width: 50vw;
  height: 10vw;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}
* .container .section_three {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080E2F;
  height: 100vh;
}
* .container .section_three h1 {
  color: darkgrey;
  font-size: 6vw;
}
* .container .section_four {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #146166;
  height: 100vh;
}
* .container .section_four h1 {
  color: #080E2F;
  font-size: 6vw;
}/*# sourceMappingURL=style.css.map */