@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
* {
  margin: 0;
}
* .container {
  margin: 0;
}
* .container .nav_top_contents {
  background-color: #080E2F;
  display: flex;
  justify-content: space-between;
}
* .container .nav_top_contents #courdevs_top_logo {
  width: 28vw;
  height: 28vw;
  margin: 0 0 0 1vw;
}
* .container .nav_top_contents #top_hamburger {
  width: 10vw;
  height: 10vw;
  margin: 4vh 8vw 0 0;
}
* .container .the_nav {
  display: flex;
  background-color: #080E2F;
  height: 12vh;
  position: sticky;
  z-index: 98;
  top: 0;
  transition: 0.5s ease-in-out;
  width: 100%;
}
* .container .the_nav .nav_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vw;
  padding: 0 0 0 5vw;
  margin: 0vh 0 0 0;
}
* .container .the_nav .nav_contents #coudevs_logo {
  width: 20vw;
  height: 20vw;
}
* .container .the_nav .nav_contents .you {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 -1vw;
  opacity: 1;
}
* .container .the_nav .nav_contents .you #name {
  color: white;
  font-size: 5vw;
  font-family: "Inter", sans-serif;
}
* .container .the_nav .nav_contents .you #job_description {
  color: #8081AA;
  font-size: 4vw;
  font-family: "Roboto", sans-serif;
}
* .container .the_nav .nav_contents #menu {
  width: 10vw;
  height: 10vw;
  margin: 0 0 0 3vw;
}
* .container .the_nav .nav_contents .you.on_scroll_up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 -1vw;
  opacity: 1;
}
* .container .the_nav .nav_contents .you.on_scroll_up #name {
  color: white;
  font-size: 5vw;
  font-family: "Inter", sans-serif;
}
* .container .the_nav .nav_contents .you.on_scroll_up #job_description {
  color: #8081AA;
  font-size: 4vw;
  font-family: "Roboto", sans-serif;
}
* .container .the_nav .nav_contents #menu {
  width: 10vw;
  height: 10vw;
  margin: 0 0 0 3vw;
}
* .container .the_nav.dissapear {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
* .container .the_nav.scroll_up {
  opacity: 1;
}
* .container .section_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #080E2F;
  height: 100vh;
}
* .container .section_one .section_one_headshot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -15vh 0 0 0;
}
* .container .section_one .section_one_headshot #home_headshot {
  width: 55vw;
  height: 55vw;
  border-radius: 50%;
  position: absolute;
}
* .container .section_one .section_one_headshot .back_circle {
  width: 60vw;
  height: 60vw;
  border: 7px solid #8081AA;
  border-radius: 50%;
}
* .container .section_one .section_one_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh 0 0 0;
}
* .container .section_one .section_one_content h1 {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 7vw;
}
* .container .section_one .section_one_content p {
  font-family: "Roboto", sans-serif;
  color: #8081AA;
  font-size: 5vw;
}
* .container .section_one .section_one_content .my_mantra {
  display: flex;
  margin: 10vh 0 0 0;
}
* .container .section_one .section_one_content .my_mantra p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
  text-align: center;
}
* .container .section_one .section_one_content .learn_more {
  width: 50vw;
  height: 10vw;
  margin: 12vh 0 0 0;
  border-radius: 40px;
  background-color: #36395D;
  border: none;
}
* .container .section_one .section_one_content .learn_more a {
  color: #d9e2e2;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
}
* .container .section_two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #146166;
  height: 100vh;
}
* .container .section_two h1 {
  color: #080E2F;
  font-size: 6vw;
}
* .container .section_three {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080E2F;
  height: 100vh;
}
* .container .section_three h1 {
  color: darkgrey;
  font-size: 6vw;
}
* .container .section_four {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #146166;
  height: 100vh;
}
* .container .section_four h1 {
  color: #080E2F;
  font-size: 6vw;
}/*# sourceMappingURL=style.css.map */